*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#container {
  display: grid;
  border: 2px solid black;
  height: 70vh;
  width: 60vw;
  margin-left: 20%;
  margin-right: 20%;
}


.box {
  background: white;
}


#btn1{
  display: flex;
  justify-content: center;
}


#btn2{
  display: flex;
  justify-content: center;
}
